@model TeacherApp.Models.Teacher

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/teacherDetails.css" />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-7 col-lg-6 pull-left">
            <div class="well profile" style="margin-left:-15px">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2>
                            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
                        </h2>
                        <p><strong>About: </strong> @Html.DisplayFor(model => model.About) </p>
                        <p><strong>Courses: </strong> @Html.DisplayFor(model => model.TeachersCourses.Count) </p>
                        <p>
                            <strong>Degree: </strong>
                            <span class="tags">
                                @Html.DisplayFor(model => model.Degree)
                            </span><br />
                            <strong>Institution: </strong>
                            <span class="tags">
                                @Html.DisplayFor(model => model.Institution)
                            </span><br />
                            <strong>Phone Number: </strong>
                            <span class="tags">
                                @Html.DisplayFor(model => model.Phone)
                            </span><br />
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center">
                        <figure>
                            <img src=@Model.ImagePath alt="" class="img-circle img-responsive">
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 divider text-center">
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong> 20,7K </strong></h2>
                        <p><small>Followers</small></p>
                        <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                    </div>
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong>245</strong></h2>
                        <p><small>Following</small></p>
                        <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                    </div>
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong>43</strong></h2>
                        <p><small>Snippets</small></p>
                        <div class="btn-group dropup btn-block">
                            <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
                                <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-top:-30px; margin-left:-15px">
            <video width="560" height="385" controls>
                <source src="~/images/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="row">
            <div class="col-md-12" id="reviews">
                <div class="container">
                    <h2>Students Say About Me:</h2>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="rating-block">
                                <h4>Average user rating</h4>
                                <h2 class="bold padding-bottom-7">@Model.Rating <small style="color: #333">/ 5</small></h2>
                                @for (int i = 0; i < @Model.Rating; i++)
                                {
                                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    </button>
                                }
                                @for (double i = @Model.Rating; i < 5; i++)
                                {
                                    <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    </button>

                                }
                            </div>
                        </div>
                        <div class="col-sm-3 rating-block">
                            <h4>Rating breakdown</h4>
                            <div class="pull-left">
                                <div class="pull-left" style="width:35px; line-height:1;">
                                    <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
                                </div>
                                <div class="pull-left" style="width:180px;">
                                    <div class="progress" style="height:9px; margin:8px 0;">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right" style="margin-left:10px;">1</div>
                            </div>
                            <div class="pull-left">
                                <div class="pull-left" style="width:35px; line-height:1;">
                                    <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
                                </div>
                                <div class="pull-left" style="width:180px;">
                                    <div class="progress" style="height:9px; margin:8px 0;">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right" style="margin-left:10px;">1</div>
                            </div>
                            <div class="pull-left">
                                <div class="pull-left" style="width:35px; line-height:1;">
                                    <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
                                </div>
                                <div class="pull-left" style="width:180px;">
                                    <div class="progress" style="height:9px; margin:8px 0;">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right" style="margin-left:10px;">0</div>
                            </div>
                            <div class="pull-left">
                                <div class="pull-left" style="width:35px; line-height:1;">
                                    <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
                                </div>
                                <div class="pull-left" style="width:180px;">
                                    <div class="progress" style="height:9px; margin:8px 0;">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right" style="margin-left:10px;">0</div>
                            </div>
                            <div class="pull-left">
                                <div class="pull-left" style="width:35px; line-height:1;">
                                    <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
                                </div>
                                <div class="pull-left" style="width:180px;">
                                    <div class="progress" style="height:9px; margin:8px 0;">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right" style="margin-left:10px;">0</div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="review-block">
                        @foreach (var review in Model.Reviews)
                        {
                            <br />

                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                    <div class="review-block-name"> (@review.PersonID) </div>
                                    <div class="review-block-date">@review.Published<br /></div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="review-block-rate">
                                        @for (int i = 0; i < review.Rating; i++)
                                        {
                                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </button>

                                        }
                                        @for (int i = review.Rating; i < 5; i++)
                                        {
                                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </button>

                                        }
                                    </div>
                                    <div class="review-block-description">iew.ReviewContent</div>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                    <div class="container">
                        <div class="row" style="margin-top:50px">
                            <div class="col-md-12">
                                <form class="formtest">
                                    <button type="button" class="btaval btn btn-success" data-toggle="collapse" data-target="#1" onClick="esconder(this)"></button>
                                    <div id="1" class="collapse">
                                        <div class="col-md-12 avaliar ">
                                            <textarea cols="50" id="comentario" name="comment" value="" placeholder="Write your review..."></textarea>

                                            <div class="stars starrr" data-rating="0">
                                                <input class="nota" name="rating" type="hidden" value="">
                                            </div>
                                            <div class="text-right">
                                                <button class="btn btn-success" type="submit" onclick="test()">Submit Review <i class="fa fa-reply"></i> </button>
                                                <span class="btn btn-danger" data-toggle="collapse" data-target="#1" onClick="mostrar()">Cancel <i class="fa fa-times"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
    <script src="~/js/allTeachers.js"></script>
    <!--
            <dl class="dl-horizontal col-md-8">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Degree)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Degree)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Institution)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Institution)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Graduated)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Graduated)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.About)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.About)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LessonPrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LessonPrice)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>
        </dl>
    </div>

    <div class="row">
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

        -->

